@model IEnumerable<Beaver.Models.Video>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video Listing</h2>

<p>
    @Html.ActionLink("Add Video", "New")
</p>

<ul class="list-group">
    @foreach (var video in Model)
    {
        <li class="list-group-item">@video.title (@video.genre) 
        @Html.ActionLink("Edit", "Edit", new { id = video.id })
        @Html.ActionLink("Delete", "Delete", new { id = video.id })</li>
    }
</ul>